.typing-indicator {
	background-color: rgba(92, 118, 255, 0.1);
	will-change: transform;
	width: auto;
	border-radius: 2px;
	padding: 20px;
	display: table;
	margin: 0;
	position: relative;
	/* -webkit-animation: 2s bulge infinite ease-out; */
	/* animation: 2s bulge infinite ease-out; */
}
.typing-indicator::after {
	height: 10px;
	width: 10px;
	left: -10px;
	bottom: -10px;
}
.typing-indicator span {
	height: 15px;
	width: 15px;
	float: left;
	margin: 0 1px;
	background-color: #5c76ff;
	display: block;
	border-radius: 50%;
}
.typing-indicator span:nth-of-type(1) {
	-webkit-animation: 1s blink infinite 0.3333s;
	animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
	-webkit-animation: 1s blink infinite 0.6666s;
	animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
	-webkit-animation: 1s blink infinite 0.9999s;
	animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
	0% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(15%);
		transform: translateY(15%);
	}
}

@keyframes blink {
	0% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(15%);
		transform: translateY(15%);
	}
}
@-webkit-keyframes bulge {
	50% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
}
@keyframes bulge {
	50% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
}

.team_logo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: white;
	padding: 24px;
}

.chat_icon {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

.team_logo_small {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: white;
	padding: 16px;
}

p {
	margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1rem;
	line-height: 1.15;
}

h1 {
	margin-top: 0;
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

small,
.text_small {
	font-size: 0.8em;
}

table,
tr,
td {
	border: none;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "UberMove";
	font-weight: normal;
}

.scrollable {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

@font-face {
	font-family: "UberMove";
	src: url("/static/fonts/UberMove-Regular.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "UberMove";
	src: url("/static/fonts/UberMove-Bold.woff2");
	font-weight: bold;
	font-style: normal;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

input::-webkit-input-placeholder {
	color: #cdcdcd !important;
	/* font-family: UberMoveRegular; */
}

#chatbox {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 10%;
}

#userInput {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#buttonInput {
	padding: 3px;
	font-family: roboto;
}

.userText {
	color: white;
	font-family: roboto;
	text-align: right;
	line-height: 30px;
}

.userText span {
	background-color: #66bb6a;
	padding: 10px;
	border-radius: 2px;
	text-align: justify;
}

.botText {
	color: white;
	font-family: roboto;
	text-align: left;
	line-height: 30px;
}

.botText span {
	background-color: #29b6f6;
	padding: 10px;
	border-radius: 2px;
	text-align: justify;
}

#tidbit {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
}

.speech-bubble {
	background: #efefef;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 1.3;
	margin: 0 auto 40px;
	padding: 15px;
	position: relative;
}

.speech-bubble p {
	margin: 0 0 10px;
}
.speech-bubble p:last-of-type {
	margin-bottom: 0;
}

.app-name {
	display: inline;
	font-family: "UberMove";
	font-weight: bold;
	color: white;
}

.mt-0 {
	margin-top: 0px !important;
}

.bold {
	font-weight: bold;
}

.medium {
	font-weight: 500;
}

.match_team {
	display: none;
}

.send-button {
}
