<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/js/scripts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>

<body onload="getDate(); getAllSchedule()">
	<div class="main row">
		<div class="match-container col l4 s4 blue accent-2 white-text">
			<div class="container">
				<div class="row">
					<div class="col l6 offset-l3 valign-wrapper">
						<img class="logo" src="/static/img/logo.svg" />
						<h2 class="bold white-text">BotVic</h2>
					</div>
				</div>
				<div class="row">
					<div class="col l12">
						<h5 class="bold">Today</h5>
						<h3 id="date" class="app-name"></h3>
						<div class="row"></div>
						<div class="row valign-wrapper">
							<div class="col l4 center">
								<img class="team-logo" id="match_1_team_1_img" />
							</div>
							<div class="col l2 center">
								<p class="bold" id="match_1"></p>
							</div>
							<div class="col l4 center">
								<img class="team-logo" id="match_1_team_2_img" />
							</div>
						</div>
						<!-- <div class="row valign-wrapper">
							<div class="col l4 center">
								<img class="team-logo" id="match_2_team_1_img" />
							</div>
							<div class="col l2 center">
								<p class="bold" id="match_2"></p>
							</div>
							<div class="col l4 center">
								<img class="team-logo" id="match_2_team_2_img" />
							</div>
						</div> -->
					</div>
				</div>
				<div class="row">
					<h5 class="bold">Upcoming Matches</h5>
					<div class="list-match-container">
						<div class="item-match row valign-wrapper">
							<div class="col l4 center" id="upcoming_match_1_team_1">
								<img class="team-logo-small" id="upcoming_match_1_team_1_img" />
							</div>
							<div class="col l4 center">
								<p class="m-0 bold center-align" id="upcoming_match_1_timing"></p>
							</div>
							<div class="col l4 center" id="upcoming_match_1_team_2">
								<img class="team-logo-small" id="upcoming_match_1_team_2_img" />
							</div>
						</div>
						<div class="item-match row valign-wrapper">
							<div class="col l4 center" id="upcoming_match_2_team_1">
								<img class="team-logo-small" id="upcoming_match_2_team_1_img" />
							</div>
							<div class="col l4 center">
								<p class="m-0 bold" id="upcoming_match_2_timing"></p>
							</div>
							<div class="col l4 center" id="upcoming_match_2_team_2">
								<img class="team-logo-small" id="upcoming_match_2_team_2_img" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot-container col l4 s12">
			<div class="chat-container scrollable" id="chatbox">
				<div class="chat-element row valign-wrapper">
					<div class="col l2">
						<img class="botvic-chat-logo" src="/static/img/logo.svg" />
					</div>
					<div class="col l10">
						<div class="chat-bubble">
							Hey there! I'm BotVic. I can help you answer some interesting questions and facts about IPL. To get started, you can ask
							me about the current IPL champion.
						</div>
					</div>
				</div>
			</div>

			<div class="suggestion-container">
				<div class="suggestion-chip chip" onclick="suggestionResponse('Mumbai Indians')">Mumbai Indians</div>
				<div class="suggestion-chip chip" onclick="suggestionResponse('Rohit Sharma')">Rohit Sharma</div>
				<div class="suggestion-chip chip" onclick="suggestionResponse('Virat Kohli')">Virat Kohli</div>
			</div>

			<div class="chat-input row valign-wrapper">
				<div class="col l11 m-0" id="userInput">
					<input id="textInput" type="text" placeholder="Type your message here" />
				</div>
				<div class="col 1">
					<input id="buttonInput" type="image" name="action" src="/static/img/send.svg" />
				</div>
			</div>
		</div>
		<script>
			function suggestionResponse(query) {
				var botTyping =
					"<div class='chat-element row valign-wrapper'> \
								<div class='col s2'> \
									<img src='/static/img/logo.svg' class='botvic-chat-logo'> \
								</div> \
								<div class='col s10'> \
									<div class='typing-indicator'> \
										<span></span> \
										<span></span> \
										<span></span> \
								</div> \
							</div>";
				let userHtml =
					"<div class='chat-element row valign-wrapper'> \
										<div class='col s10'> \
												<div class='chat-bubble right-align right'> \
													<span>" +
					query +
					"</span> \
												</div> \
										</div> \
										<div class='col s2'> \
											<img class='botvic-chat-logo' src='/static/img/user.svg' /> \
										</div > \
									</div > ";


				$("#chatbox").append(userHtml);
				$("#chatbox").append(botTyping);
				document
					.getElementById("userInput")
					.scrollIntoView({ block: "start", behavior: "smooth" });
				$.get("/get", { msg: query }).done(function (data) {
					var botHtml =
						"<div class='row valign-wrapper'> \
												<div class='col s2'> \
													<img src='/static/img/logo.svg' class='botvic-chat-logo'> \
												</div> \
												<div class='col s10'> \
													<div class='chat-bubble'> \
														<span>" +
						data +
						"</span> \
													</div> \
												</div> \
											</div>";
					let lastItem = document.getElementById("chatbox");
					console.log(typeof chatElement);
					lastItem.replaceChild(
						document
							.createRange()
							.createContextualFragment(botHtml),
						lastItem.lastChild
					);
					document.getElementById("userInput").scrollIntoView({
						block: "start",
						behavior: "smooth"
					});
				});
			}

			function getBotResponse() {
				var botTyping =
					"<div class='chat-element row valign-wrapper'> \
								<div class='col s2'> \
									<img src='/static/img/logo.svg' class='botvic-chat-logo'> \
								</div> \
								<div class='col s10'> \
									<div class='typing-indicator'> \
										<span></span> \
										<span></span> \
										<span></span> \
								</div> \
							</div>";

				var rawText = $("#textInput").val();
				let userHtml =
					"<div class='chat-element row valign-wrapper'> \
										<div class='col s10'> \
												<div class='chat-bubble right-align right'> \
													<span>" +
					rawText +
					"</span> \
												</div> \
										</div> \
										<div class='col s2'> \
											<img class='botvic-chat-logo' src='/static/img/user.svg' /> \
										</div > \
									</div > ";

				$("#textInput").val("");

				$("#chatbox").append(userHtml);
				$("#chatbox").append(botTyping);
				document
					.getElementById("userInput")
					.scrollIntoView({ block: "start", behavior: "smooth" });
				$.get("/get", { msg: rawText }).done(function (data) {
					var botHtml =
						"<div class='row valign-wrapper'> \
												<div class='col s2'> \
													<img src='/static/img/logo.svg' class='botvic-chat-logo'> \
												</div> \
												<div class='col s10'> \
													<div class='chat-bubble'> \
														<span>" +
						data +
						"</span> \
													</div> \
												</div> \
											</div>";
					let lastItem = document.getElementById("chatbox");
					console.log(typeof chatElement);
					lastItem.replaceChild(
						document
							.createRange()
							.createContextualFragment(botHtml),
						lastItem.lastChild
					);
					document.getElementById("userInput").scrollIntoView({
						block: "start",
						behavior: "smooth"
					});
				});
			}
			$("#textInput").keypress(function (e) {
				console.log("Event", e);
				if (e.which == 13) {
					console.log("Input Clicked");
					getBotResponse();
				}
			});
			$("#buttonInput").click(function () {
				getBotResponse();
			});
		</script>
		<div class="stats-container col l4 m4 s4 blue accent-2 white-text">
			<div class="container">
				<div class="row">
					<h3 class="bold">Points Table</h3>
				</div>
				<div class="row">
					<table class="white-text centered">
						<thead>
							<td>Team</td>
							<td>Played</td>
							<td>Win</td>
							<td>Loose</td>
							<td>Tied</td>
							<td>NR</td>
							<td>Points</td>
							<td>NRR</td>
						</thead>
						<tbody>
							{% for key, team in points_table.items() %}
							<tr>
								<td>
									<img class="team-logo-more-small" src='/static/img/{{ team[ "team_name"] }}.jpg' />
								</td>
								<td>{{ team["mat"] }}</td>
								<td>{{ team["won"] }}</td>
								<td>{{ team["lost"] }}</td>
								<td>{{ team["tied"] }}</td>
								<td>{{ team["nr"] }}</td>
								<td>{{ team["pts"] }}</td>
								<td>{{ team["nrr"] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>